#features-bar{
	background: #E2F7FC;
	border:1px solid #888888;
	box-shadow: 10px 10px 20px #888888;
	border-radius:20px;
	padding: 50px;
}

#about-box{
	background: #E2F7FC;
	border:1px solid #888888;
	box-shadow: 5px 5px 5px #888888;
	border-radius:20px;
	padding: 20px;
}

.features-box {
	font-size: 1.75em;
}

#about-row {
	font-size: 1.25em;
}

#about-row img {
	border: 1px solid black;
	border-radius: 15px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid black;
    margin: 1em 0; padding: 0; }

body {
background: #cceeff; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #cceeff 0%, #ade3ff 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cceeff), color-stop(100%,#ade3ff)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #cceeff 0%,#ade3ff 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #cceeff 0%,#ade3ff 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #cceeff 0%,#ade3ff 100%); /* IE10+ */
background: radial-gradient(ellipse at center, #cceeff 0%,#ade3ff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cceeff', endColorstr='#ade3ff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}